*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
}

.btns{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.btns button{
    height: 200px;
    width: 200px;
    font-size: 80px;
    border-radius: 15px;
    background-color: yellow;
    border: none;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid white;
    margin-top: 50px;
}

p{
    color: white;
}

.score{
    font-size: 50px;
}